#parent{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-evenly;
    grid-gap:10px;
}
.child{
    border : 2px solid black
}
.child img{
    width:300px; height:300px;

}