#register {
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: "Roboto", sans-serif;

}

#form {
    display: grid;
    grid-template-columns: 50% 50%;
}

.red {
    color: red;

}

.last {
    display: grid;
    grid-template-columns: 90% 20%;
}
.wel{
}

.wel h3 {

    color: #6c757de8;
    font-size: 24px;
    font-weight: 400;
    padding-left: 100px;
    padding-top: 90px;


}
.pad{
    padding-left: 100px;
}
.last{
    padding-left: 100px;
}

.wel_p {
    font-size: 18px;
    font-weight: lighter;
    color: #6c757d;padding-left: 100px;
 

}

.sc {
    color: #3ac47d;
}

#form p {
    font-size: 14px;
    color: #6c757de8;
}

a {
    text-decoration: none;
    color: #3f6ad8;
}

a:hover {
    text-decoration: underline;
}
input{
    font-weight:200;
    padding: 10px;
    font-size: 14px;
    color:grey;
    font-family: "Roboto", sans-serif;
    border: 1px solid #ced4da;
    outline: #17a2b8;
    border-radius: 4px;
    margin-left: 90px;


}
h4{
    color: #6c757de8;
    font-size: 18px;
    font-weight: 400;
}
button{
    padding: 13px;
    margin-left:180px;
    width:190px;
    color:white;
    background-color:#6c757d;
    border-radius: 30px;
    font-size: 18px;
    border:none;
    box-shadow: 0 0.125rem 0.625rem rgba(108, 117, 125, 0.4);
}
button:hover{
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}
.perfect{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); !important
    text-align: center;
    height:590px;
    justify-content: center;


}
.pb{
    padding-top: 150px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.897);
    font-size: 30px;
    font-weight: 300;

}
.perfect p{
    text-align: center;
    margin-left: 100px;
    margin-right:100px;
    color: #e9e9e9c2;
    font-weight: 400;
    line-height: 25px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;

}
.accept{
    padding: 0;
}
